@font-face {
    font-family: buz1;
    src: url(fonte/Itim-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 2fr;
    background-color: #e4e4e4;
}

header {
    grid-area: header;
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(#fdfdfd, #e4e4e4);
}

header section {
    width: 100%;
    height: 100%;
    display: flex;
}

#divlogo, #divperfil {
    width: 20%;
    height: 100%;
}

#divlogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#divlogo img {
    width: 15rem;
}

#divnav {
    width: 60%;
    height: 100%;
}

#divperfil {
    display: flex;
    align-items: center;
    justify-content: end;
}

#vaiamerda {
    margin-right: 20%;
}

#divperfil div {
    background-color: black;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

aside {
    grid-area: aside;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#e4e4e4, #fdfdfd, #fdfdfd, #fdfdfd);
}

#secnav {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.navbut {
    width: 80%;
    height: 3rem;
    background-color: #fdfdfd;
    border: 0.25rem solid #e4e4e4;
    border-radius: 5rem;
    color: #3a1c12;
    font-family: buz1;
    font-size: 1.5rem;
    transition: 0.5s;
    cursor: pointer;
}

.navbut:hover {
    filter: brightness(95%);
    border-color: #ffda33;
}

#secturmas {
    width: 100%;
    height: 75%;
}

#astitulo {
    text-align: center;
    color: #3a1c12;
    font-family: buz1;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#subsecturmas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.divtur {
    width: 90%;
    height: 4.5rem;
    background-color: #fdfdfd;
    border: 0.25rem solid #e4e4e4;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.divtur:hover {
    filter: brightness(95%);
    border-color: #ffda33;
}

main {
    grid-area: main;
    width: 100%;
    height: 60rem;
    background-image: url(imagens/colmeianova.png);
    border-radius: 2rem 0 0 0;
}

#turmanome {
    width: 100%;
    font-family: buz1;
    font-size: 3rem;
    color: #3a1c12;
    margin-bottom: -10%;
}

#turmadesc {
    width: 100%;
    font-family: buz1;
    font-size: 1.5rem;
    color: #3a1c12;
}

#fundo {
    width: 100%;
    height: 20rem;
    background-image: linear-gradient(#e4e4e4, transparent, transparent, transparent, #fdfdfd);
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

/* MENU TURMA */
#menuTurma {
    width: 100%;
    height: 6rem;
    background: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menuTurmaBut {
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 2px solid #e4e4e4;
    background: white;
    font-family: buz1;
    font-size: 1.3rem;
    cursor: pointer;
    transition: .3s;
}

.menuTurmaBut:hover {
    border-color: #ffda33;
}

/* ------ CARDS DE QUIZZES (COPIADOS DO HOMEALUNO) ------ */
.divenv, .divenc {
    width: 15rem;
    height: 15rem;
    background-color: #fdfdfd;
    border: 0.4rem solid #e4e4e4;
    border-radius: 3rem;
    flex-shrink: 0;
    flex-grow: 0;
    cursor: pointer;
    transition: 0.5s;
    font-family: buz1;
    font-size: 1.3rem;
    color: #3a1c12;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.divenv:hover, .divenc:hover {
    filter: brightness(95%);
    border-color: #ffda33;
}

.divenc {
    cursor: default !important;
}

/* ------ CARROSSEL ------ */
.carrossel {
    width: 100%;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#viewport1, #viewport2 {
    width: 70%;
    overflow: hidden;
}

#track1, #track2 {
    display: flex;
    gap: 1rem;
    transition: transform .4s;
}

.bcar {
    background: #fff;
    border: 2px solid #e4e4e4;
    border-radius: .8rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

#listaAlunos {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.alunoCard {
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid #e4e4e4;
    font-family: buz1;
}

footer {
    grid-area: footer;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(#fdfdfd, #e4e4e4);
}

#secfooter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divfot {
    display: flex;
    gap: 3rem;
}

.divfot img {
    height: 8rem;
}
